*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

.main_button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    margin:10px;
    padding:10px;
    gap: 10px;
}


